.chat {
    @include set-box-size(100%, 100%); // mixin 불러오기

    background-color: $main-color;

    .chat-screen {
        overflow: auto; // 넘치면 스크롤
        height: calc(100% - 160px); // 입력폼 높이 160px

        .chat-screen__bar {
            position: sticky; // 스크롤 내려도 헤더 고정됨
            top: 0;
            z-index: 10; // 요소가 겹칠 때 무엇을 위(z축)에 둘 것인가
        }
        .chat-screen__bubbles {
            padding: 0;
            list-style-type: none;
        }
    }
}

.chat-form {
    height: 160px;
    background-color: #fff;

    .chat-form__plugin {
        height: 40px;
        background-color: #f2f2f2;

        .chat-form__icon {
            line-height: 40px;
            margin: 0 0 0 15px;
        }
    }
}
.chat-form__field {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .chat-form__msg {
        @include set-box-size(100px, calc(100% - 120px)); // mixin 불러오기

        padding: 10px;
        border: none;
        resize: none;

        &:focus {
            outline: none;
        }
    }
    .chat-form__bt {
        @include set-box-size(100px, 100px, 8px); // mixin 불러오기

        background-color: $main-color;

        &:active {
            background-color: $active-color;
        }
    }
}
